body{
	background: #2e4053;
	font-family: sans-serif;
}
table.caption{
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 10px;
	width: 400px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.form{
	position: relative;
	background: transparent;
	padding: 20px 0 20px 0;
	transition: .3s ease;
	-webkit-transition : .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
}

.form h2{
	font-size: 25px;
	margin: 0;
	text-align: center;
	font-weight: 700px;
	color: #fff;
}
.form .input-container{
	position: relative;
	margin: 10px 30px 30px;
}
.form .input-container input{
	outline: none;
	z-index: 1;
	background : none;
	position: relative;
	width: 100%;
	height: 40px;
	border: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 400; 
}
.form .input-container input:focus ~ label {
	color: #2ecc71;
	transform: translate(-12%,-50%) scale(0.75);
	-moz-transform: translate(-12%,-50%) scale(0.75);
	-webkit-transform: translate(-12%,-50%) scale(0.75);
	-o-transform: translate(-12%,-50%) scale(0.75);
}
.form .input-container input:focus ~ .bar:before, .form .input-container input:focus ~ .bar:after {
  width: 50%;
}
.form .input-container input:valid ~ label {
  color: #2ecc71;
  transform: translate(-12%,-50%) scale(0.75);
	-moz-transform: translate(-12%,-50%) scale(0.75);
	-webkit-transform: translate(-12%,-50%) scale(0.75);
	-o-transform: translate(-12%,-50%) scale(0.75);
}
.form .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  line-height: 40px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.form .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 1px;
}
.form .input-container .bar:before, .form .input-container .bar:after {
  content: '';
  position: absolute;
  background: #2ecc71;
  width: 0;
  height: 2px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}
.form .input-container .bar:before {
  left: 50%;
}
.form .input-container .bar:after {
  right: 50%;
}
.form .button-container {
  margin: 0 60px;
  text-align: center;
}
.form .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 200px;
  border: 2px solid #fff;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  
}
.form .button-container button span {
  position: relative;
  z-index: 1;
  color: #fff;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
}

.form .button-container button:hover, .form .button-container button:active, .form .button-container button:focus {
  border-color: #2ecc71;
}
.form .button-container button:hover span, .form .button-container button:active span, .form .button-container button:focus span {
  color: #2ecc71;
}
.form .button-container button:active span, .form .button-container button:focus span {
  color: #ffffff;
}
.form .button-container button:active:before, .form .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(20);
  transform: scale(20);
}
.form .footer {
  margin: 10px 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}
.form .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.form .footer a:hover {
  color: #2ecc71;
}

@media screen and (max-width: 768px){
	table.caption{
		width: 100%;
		margin: 40px 0;
	}

}
